<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>GlitchSpy</title>
    {% endif %}
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel='shortcut icon' type="image/svg+xml" href="../static/images/favicon.svg" />
    <link rel='shortcut icon' type="image/png" href="../static/images/favicon.png" />
    <!-- styles -->
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/nav.css">

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Deca:wght@100;200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700&display=swap"
    />

  {% block css %}{% endblock %}
  </head>
  <body>

      <!-- messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
              {% if category == "success" %}
              <span class="flash-success"><img src="../static/images/check.svg" alt="">{{ message }}</span>
              {% elif category == "danger" %}
              <span class="flash-danger"><img src="../static/images/close.svg" alt="">{{ message }}</span>
              {% elif category == "info" %}
              <span class="flash-info"><img src="../static/images/info.svg" alt="">{{ message }}</span>
              {% endif %}
            {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      <!-- child template -->
      {% block content %}{% endblock %}


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
    {% block js %}{% endblock %}
  </body>
</html>