{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/styles/bugs.css">
{% endblock %}

{% include 'light-nav.html' %}

{% block content %}
<h1 class="reported-bugs-title">Reported Bugs</h1>
<div class="bugs-container">
    {% for bug in bugs%}
    <div class="bug-card" data-name="{{ bug.name }}" data-id="{{ bug.id }}">
        <div class="product-name">
            <h1>{{ bug.product }}</h1>
        </div>

        <div class="bug-name">
            <h2 class="bug-title">Bug Name: {{ bug.name }}</h2>
        </div>

        <div class="bug-header">
            <h2 class="bug-title">Severity: <span class="severity high">{{ bug.severity }}</span></h2>
        </div>
        <div class="bug-body">
            <h2>Bug Description</h2>
            {% if bug.description %}
            <p>{{ bug.description }}</p>
            {% else %}
            <p>N/A</p>
            {% endif %}
            <h2>Additional Details</h2>
            <ul>
                <li><strong>Category:</strong> {{ bug.category }}</li>
                <li><strong>Upvotes:</strong> {{ bug.upvotes }}</li>
                <li><strong>Attachment:</strong> {% if bug.attachment %} Yes {% else %} No {% endif %}</li>
            </ul>

            <div class="view-in-details">
                <h4>View Report</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
    document.querySelectorAll(".bug-card").forEach(bug => {
    bug.addEventListener("click", event => {
        const dataId = event.currentTarget.getAttribute("data-id");
        const url = "/gspy/bugreports/" + dataId;
        window.location.href = url;
    })
})
</script>
{% endblock %}