{% extends 'base.html' %}

{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="../static/styles/bug.css"> -->
<link rel="stylesheet" type="text/css" href="../static/styles/bugs.css">
{% endblock %}

{% include 'light-nav.html' %}

{% block content %}

<div class="container">
    <h1>Bug Reports</h1>
    <div class="bug-list">
        {% for bug in bugs%}
        <div class="bug-card" data-name="{{ bug.name }}" data-id="{{ bug.id }}">
            <h2>{{ bug.product }}</h2>
            <p><strong>Bug:</strong> {{ bug.name }}</p>

            {% if bug.description %}
            <p><strong>Description:</strong> {{ bug.description }}</p>
            {% else %}
            <p><strong>Description:</strong> N/A</p>
            {% endif %}

            <p><strong>Category:</strong> {{ bug.category }}</p>
            <p><strong>Severity:</strong> 
            {% if bug.severity == 'Critical' %}
            <span class="critical">&#9888; {{ bug.severity }} &#9888;</span>
            {% elif bug.severity == 'High' %}
            <span class="high">&#9760; {{ bug.severity }} &#9760;</span>
            {% elif bug.severity == 'Medium' %}
            <span class="medium">&#128227; {{ bug.severity }} &#128227;</span>
            {% else %}
            <span class="low"> &#9432; {{ bug.severity }}  &#9432;</span>
            {% endif %}
            </p>
            <p><strong>Upvotes:</strong> <span class="upvotes">{{ bug.upvotes }}</span></p>
            <p><strong>Posted At:</strong> {{ bug.created_at }}</p>
            <a href="{{ url_for('core.view_bug', id=bug.id) }}" class="btn">View Details</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
