<!-- Navigation bar for a dark background -->
<!-- <img class="menu-icon" src="../static/images/menu-light.svg" alt=""> -->
<ion-icon name="menu" class="menu-icon action-btn close-light" data-mobile-menu-open-btn></ion-icon>
<div class="mobile-navigation-menu has-scrollbar mobile-dark" data-mobile-menu>
    <div class="menu-top">
      <h2 class="menu-title">GlitchSpy</h2>

      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <ul class="mobile-menu-category-list">
      <li class="menu-category">
        <a href="#" class="menu-title">Home</a>
      </li>

      <li class="menu-category">
        <a href="#" class="menu-title">Reports</a>
      </li>

      <li class="menu-category">
        <a href="#" class="menu-title">API</a>
      </li>

      <li class="menu-category">
        <a href="#" class="menu-title">About</a>
      </li>
    </ul>

    <div class="menu-bottom">
      <ul class="menu-category-list">
        <li class="menu-category">
          <a href="#" class="menu-title">Sign In</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Join Us</a>
        </li>
      </ul>

      <ul class="menu-social-container">
        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>

<header class="dark">
    <div class="navigation-bar-dark">
        <div class="logo">
            <a href="{{ url_for('core.gspy_landing') }}">
                <img src="../static/images/light-logo.svg" alt="GlitchSpy Logo">
            </a>
        </div>

        <nav class="nav-links-dark mark-nav">
            <a href="{{ url_for('core.gspy_landing') }}">Home</a>
            <a href="{{ url_for('core.all_bug_reports') }}">Reports</a>
            <a href="{{ url_for('core.api_docs') }}">API</a>
            <a href="{{ url_for('core.about_page') }}">About</a>
        </nav>

        <div class="login-register">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('accounts.logout') }}" class="nav-reg-button-dark">Logout</a>
            {% else %}
            <a href="{{ url_for('accounts.login_page') }}" class="nav-login-link-dark mark-login-link">Sign In</a>
            <a href="{{ url_for('accounts.signup_page') }}" class="nav-reg-button-dark">Join Us</a>
            {% endif %}
        </div>
    </div>
</header>

<script>
    const mobileMenuOpenBtn = document.querySelectorAll(
      "[data-mobile-menu-open-btn]"
    );
    const mobileMenu = document.querySelectorAll("[data-mobile-menu]");
    const mobileMenuCloseBtn = document.querySelectorAll(
      "[data-mobile-menu-close-btn]"
    );
    const overlay = document.querySelector("[data-overlay]");
  
    for (let i = 0; i < mobileMenuOpenBtn.length; i++) {
      // mobile menu function
      const mobileMenuCloseFunc = function () {
        mobileMenu[i].classList.remove("active");
        // overlay.classList.remove("active");
      };
  
      mobileMenuOpenBtn[i].addEventListener("click", function () {
        mobileMenu[i].classList.add("active");
        // overlay.classList.add("active");
      });
  
      mobileMenuCloseBtn[i].addEventListener("click", mobileMenuCloseFunc);
      // overlay.addEventListener("click", mobileMenuCloseFunc);
    }
    
  </script>