<!-- Navigation bar for a dark background -->
<header class="dark">
    <div class="navigation-bar-dark">
        <div class="logo">
            <a href="">
                <img src="../static/images/light-logo.svg" alt="GlitchSpy Logo">
            </a>
        </div>

        <nav class="nav-links-dark">
            <a href="#">Home</a>
            <a href="#">Reports</a>
            <a href="#">API</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
        </nav>

        <div class="login-register">
            <a href="#" class="nav-login-link-dark">Sign In</a>
            <a href="#" class="nav-reg-button-dark">Join Our Community</a>
        </div>
    </div>
</header>