{% extends 'base.html' %}

{% block css%}
<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
{% endblock %}

{% include 'dark-nav.html' %}

{% block content %}
<section class="hero-section" id="hero">
    <div class="hero-content">
      <h1 id="headline1"></h1>
      <p>
        GlitchSpy is an intuitive application that fast-tracks the process of
        tracking and exposing software issues through user's own submissions
        and reports.
      </p>
      <div class="call-to-action">
        <a href="{{ url_for('core.post_bug') }}" class="report-bug-button"> Report a bug </a>
        <a href="{{ url_for('core.all_bug_reports') }}" class="view-reports-button"> View reports </a>
      </div>
    </div>

    <div class="partnerships">
      <h2>We are in partnership with 100+ organizations</h2>
      <div class="partners">

      </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script type="text/javascript" src="../static/scripts/main.js" defer></script>
{% endblock %}