<!-- Navigation bar for a page with white background -->
<header class="light">
    <div class="navigation-bar-light">
        <div class="logo">
            <a href="">
                <img src="../static/images/logoblack.png" alt="GlitchSpy Logo">
            </a>
        </div>

        <nav class="nav-links-light">
            <a href="#">Home</a>
            <a href="#">Reports</a>
            <a href="#">API</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
        </nav>

        <div class="login-register">
            <a href="#" class="nav-login-link-light">Sign In</a>
            <a href="#" class="nav-reg-button-light">Join Our Community</a>
        </div>
    </div>
</header>