<!-- Navigation bar for a page with white background -->
<header class="light">
    <div class="navigation-bar-light">
        <div class="logo">
            <a href="">
                <img src="../static/images/logoblack.png" alt="GlitchSpy Logo">
            </a>
        </div>

        <nav class="nav-links-light">
            <a href="#">Home</a>
            <a href="#">Reports</a>
            <a href="#">API</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
        </nav>

        <div class="login-register">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('accounts.logout') }}" class="nav-login-link-light">Logout</a>
            {% else %}
            <a href="{{ url_for('accounts.login_page') }}" class="nav-login-link-light">Sign In</a>
            <a href="{{ url_for('accounts.signup_page') }}" class="nav-reg-button-light">Join Us</a>
            {% endif %}
        </div>
    </div>
</header>