{% extends "base.html" %}

{% block css%}
<link rel="stylesheet" href="../static/styles/signing.css">
{% endblock %}

{% include 'dark-nav.html' %}

{% block content %}

<!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
      <form role="form" method="post" action="">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal text-center">Please register</h1>

        <div class="form-floating">
          {{ form.email(placeholder="email", class="form-control mb-2") }}
          {{ form.email.label }}
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating">
          {{ form.password(placeholder="password", class="form-control mb-2") }}
          {{ form.password.label }}
            {% if form.password.errors %}
              {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating">
          {{ form.confirm(placeholder="Confirm Password", class="form-control mb-2") }}
          {{ form.confirm.label }}
            {% if form.confirm.errors %}
              {% for error in form.confirm.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <p class="text-center mt-3">Already registered? <a href="{{ url_for('accounts.login_page') }}">Login now</a></p>
      </form>
    </main>
  </div>
  <div class="col-md-4"></div>
</div> -->


<main>
  <div class="login-container signup-container">
    <h2>Join our Community</h2>
    <div class="form-container">
        <form action="" method="post">
            <div class="name-fields">
                <div class="form-group">
                    <label for="first-name">First name</label>
                    <input type="first-name" name="first-name" placeholder="e.g John" required>
                </div>
                <div class="form-group">
                    <label for="last-name">Last name</label>
                    <input type="last-name" name="last-name" placeholder="e.g Doe" required>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" placeholder="e.g johndoe@email.com" required>
            </div>

            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="contact" name="contact" placeholder="e.g +254700000000" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password</label>
                <input type="confirm-password" name="confirm-password" required>
            </div>

            <button class="submit-btn form-submit-btn">Join us</button>
            <p>Already have an account? <a class="link" href="./sign-in.html">Sign in</a></p>
        </form>

        <a href="" class="organization-login">Looking for patnership?</a>
    </div>
  </div>

</main>

{% endblock %}