html {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
  background: transparent;
}


main {
  height: 100vh;
  background-image: url("../images/back-image.png");
  background-position: center;
}

.error {
  color: red;
  margin-bottom: 5px;
  text-align: center;
}
  
a {
  text-decoration: none;
}

.flash-messages {
  font-family: Commissioner, sans-serif;
  position: fixed;
  top: 80px;
  left: 50%;
  list-style: none;
  background: transparent;
  margin: 0 auto;
  transform: translateX(-50%);
  z-index: 200;
}

.flash-success {
  color: green;
  height: 17px;
  width: 17px;
  margin-right: 3px;
}

.flash-danger {
  color: red;
  height: 17px;
  width: 17px;
  margin-right: 3px;
}

.flash-info {
  color: #F19E39;
  height: 17px;
  width: 17px;
  margin-right: 3px;
}

.flash-danger img,
.flash-success img,
.flash-info img {
  vertical-align: middle;
}