.bugs-container {
    width: 80vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.reported-bugs-title {
    font-family: Lexend Deca, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    opacity: .8;
}

.bug {
  border: 1px solid navy;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.bug-card {
    width: 400px;
    height: 480px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 30px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
    color: #1d2139;
    border-radius: 10px;
    cursor: pointer;
}

.bug-card:hover {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.bug-name,
.bug-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bug-title {
    margin: 0;
}

.severity {
    font-family: Lexend Deca;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
}

.high {
    color: white;
    background-color: #ff0000;
}

.bug-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.bug-body {
    line-height: 1.5;
}

.bug-body p {
    font-family: Commissioner, sans-serif;
    opacity: .7;
}


h2 {
    font-family: Lexend Deca, sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.product-name {
    font-family: Lexend Deca, sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    opacity: 0.7;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-family: Commissioner, sans-serif;
    opacity: .7;
    margin-bottom: 5px;
}

strong {
    font-family: Lexend;
    font-weight: bold;
}

.view-in-details {
    background-color: #0b0d1a;
    color: white;
    align-self: center;
    max-width: 120px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.view-in-details:hover {
    background-color: #2b3361;
}

.view-in-details h4 {
    font-family: Commissioner;
    font-size: 11px;
    text-align: center;
}
